body {
    text-align: center;
    background-color: chocolate;
    font-size: 15px;
}

div {
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}

}


img {
    width: 100px;
    height: 100px;
}


.section {
    width: 100px;
    height: 100px;

}
